body{
    height:50vh;
    background-color: rgb(19, 28, 28);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    
}

/* Days grid */
.week{
    display:grid;
    grid-template-columns: repeat(3,150px);
    gap:20px;
    margin-bottom:30px;
    text-align: center;
}

/* Day boxes */
.day{
    background:white;
    color:black;
    padding:25px 10px;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.day:hover{
    background:rgb(0, 200, 255);
}
/* Center info box */
.info{
    width:300px;
    height:80px;
    background:#444;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    font-size:18px;
}
